language: android
android:
  components:
    # The BuildTools version used by LibreTrivia
    - tools
    - platform-tools
    - tools
    - build-tools-29.0.3

    # The SDK version used to compile LibreTrivia
    - android-28

    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support

  licenses:
    - android-sdk-license-.+
    - android-sdk-preview-license-.+

before_install:
  - yes | sdkmanager "platforms;android-28"

script: ./gradlew -Dorg.gradle.jvmargs=-Xmx1536m assembleDebug lintDebug
